/* $Id: amazon.css,v 1.4 2011/02/06 22:19:12 pancho Exp $*/

div.field-name-field-books {
  padding:10px;
  
}

div.field-item{
  margin-bottom:30px;
  margin-top:10px;
}

div.field-item img{
  float:left;
  margin-right:10px;
}

div.field-type-asin {
  display: block;
  clear: both;
  border-top: 2px solid #DDD;
  padding-top: 3px;
}
div.amazon-item {
  clear: both;
}
div.amazon-item img {
  float: left;
  padding-left: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
}

div.amazon-item div {
  padding-left: 1em;
  margin-left: 100px;
  height: 4em;
}
